mixin socialIcons(width, height, name)
  svg(width= width height= height)
    use(href=`images/sprite.svg#${name}`)

mixin pictureSample(maxWidth1, maxWidth2, maxWidth3, folder, imageName, altText, className)
  source(
    media=`(max-width: ${maxWidth1})`
    srcset=`${folder}${imageName}-320.webp 1x, ${folder}${imageName}-320-2x.webp 2x`
    type="image/webp")
  source(
    media=`(max-width: ${maxWidth1})`
    srcset=`${folder}${imageName}-320.jpg 1x, ${folder}${imageName}-320-2x.jpg 2x`)
  source(
    media=`(max-width: ${maxWidth2})`
    srcset=`${folder}${imageName}-768.webp 1x, ${folder}${imageName}-768-2x.webp 2x`
    type="image/webp")
  source(
    media=`(max-width: ${maxWidth2})`
    srcset=`${folder}${imageName}-768.jpg 1x, ${folder}${imageName}-768-2x.jpg 2x`)
  source(
    media=`(max-width: ${maxWidth3})`
    srcset=`${folder}${imageName}-1024.webp 1x, ${folder}${imageName}-1024.webp 2x`
    type="image/webp")
  source(
    media=`(max-width: ${maxWidth3})`
    srcset=`${folder}${imageName}-1024.jpg 1x, ${folder}${imageName}-1024-2x.jpg 2x`)
  source(
    srcset=`${folder}${imageName}.webp 1x, ${folder}${imageName}-2x.webp 2x`
    type="image/webp")
  img(class=className)(
    src=`${folder}${imageName}.jpg`
    srcset=`${folder}${imageName}-2x.jpg 2x` alt=`${altText}`
    loading="lazy")

mixin navList
  - var titles = {'О студии': 'about','Наши проекты': 'projects','Услуги': 'services','Мастер-классы': 'workshops','Контакты': 'contacts'}
  each value, index in titles
    li.nav__item
      a.nav__link(href="#" + value)= index

mixin workList(folder, dataset)
  ul.services__work-list(data-services=`${dataset}`)
    - var li = 1
    while li < 17
      li.services__work-item
        picture.services__picture
          +pictureSample('640px', '998px', '1200px', folder, 'work-' + li, 'Фото' + li, 'services__work-img')
      - li++
